.SignUpSplash {
    font-size: 1.1667em;
    position: relative;
    background: url(/static/img/cover.jpg) center center no-repeat;
    background-size: cover;

    .SignUpSplash-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 600px;
        height: 60vh;
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        padding: 5vmax 0;

        @media only screen and (orientation: portrait) {
            // height: 60vmax;
        }
    }

    h1 {
        margin: 0 0 0.25em;
        font-size: 5.5vmin;
        color: $c-text-contrast;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    h2 {
        font-size: 4vmin;
        margin: 0 0 1em;
        color: $c-text-contrast;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
    }


    .SignUpSplash-actions {
        a {
            @include gradient-button;
            margin: 0.5em 1em;
        }
    }

    .SignUpSplash-imageCaption {
        display: none;
    }

    @include medium-screen {
        .signUpSplash-imageCaption {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 1em 1em 0.5em;
            background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
            transition: opacity 0.2s;

            p {
                font-size: 0.8em;
                margin: 0;
                color: white;
            }
        }
    }

    &.SignUpSplash-withForm  {
        .SignUpSplash-content {
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .SignUpSplash-imageCaption {
            opacity: 0.2;
        }

        form {
            margin: 0 1em;
            padding: 0;
        }

        input {
            outline: none;
            display: block;
            width: 100%;
            max-width: 100%;
            margin: 1em 0;
            border: 0;
            font-size: 1.2em;
            border-bottom: 2px solid $c-ui-bg;
            background-color: transparent;
            color: $c-text-contrast;
        }

        input:focus {
            border-color: $c-brand-comp-light;
        }

        input[type="submit"] {
            @include gradient-button;
            margin-top: 1em;
            width: auto;
        }

        @media only screen and (min-width: $small-width) {
            form {
                width: 80%;
                margin: auto;
                max-width: 800px;
            }

            input {
                display: inline-block;
                width: 48%;
                margin: 1em 1%;
            }
        }
    }

    .SignUpSplash-authenticated {
        margin: 0 1em;

        .SignUpSplash-avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto 1em;
            border-radius: 20em;
            background-size: contain;
            background-repeat: no-repeat;
        }

        p {
            color: white;
            font-size: 0.8em;
        }

        a {
            @include gradient-button;
            margin: 0.5em 1em;
        }

        @include medium-screen {
            .SignUpSplash-avatar {
                width: 150px;
                height: 150px;
            }

            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }
        }
    }
}
