.SignUpSplash {
    display:flex;
    flex-direction: column;

    @include medium-screen {
        align-items: stretch;
        display: flex;
        flex: 1 1 0%;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        position: relative;
        min-height: 600px;
        min-width: 0px;
        justify-content: center;
    }

    .SignUpSplash-content {
        flex: 1;
        order: 2;
        overflow-x: hidden;

        @include medium-screen {
            position: relative;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;
            order: 1;
            align-items: stretch;
            flex-direction: column;
            justify-content: space-between;
            width: 445px;
            min-height: 100vh;
            max-width: 100%;
            min-width: 445px;
            margin: 0px;
            padding: 40px 40px 0px;
            background: white;
        }

        .SignUpSplash-contentLogo {
            display: none;

            @include medium-screen {
                display: block;
                margin: 10% 5%;
                width: 90%;
                padding-top: 40%;
                background: url(/static/images/z-logo.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        .SignUpSplash-authenticated {
            flex: 1;
            margin-top: 2em;

            h2 {
                font-size: 1.5em;
                text-align: center;
            }

            .UserContinueButton {
                text-align: center;
                float: none;

                .UserMenu {
                    float:none;
                    display: block;
                    .UserMenu-user {
                        max-width: 100%;
                    }
                }

                .UserContinueButton-button {
                    margin: 1em 0;
                }
            }

            .SignUpSplash-avatar {
                width: 100px;
                height: 100px;
                margin: 0 auto 1em;
                border-radius: 20em;
                background-size: contain;
                background-repeat: no-repeat;
            }

            h1 {
                font-size: 1.5em;
                text-align: center;
            }

            .SignUpSplash-logoutLink {
                display: block;
                width: 100%;
                text-align: center;
            }
        }

        .SignUpForm {
            flex: 1;
            padding: 2em 1em;

            @include medium-screen {
                padding: 0;
                margin-top: 5em;

                &.focused {
                    margin-top: 0;
                }
            }
        }

        .SignUpForm-done {
            flex: 1;
            padding: 2em 1em;
            text-align: center;
        }
    }

    .SignUpSplash-background {
        flex: 1;
        order: 1;
        background: url(/static/images/cover.jpg) 40% 0% / cover no-repeat;

        @include medium-screen {
            position: relative;
            display: flex;
            flex-grow: 2;
            flex-shrink: 1;
            flex-basis: auto;
            order: 1;
            flex-direction: column;
            align-items: stretch;
            min-height: 600px;
            min-width: 0px;
            margin: 0px;
            padding: 0px;
            background-position: 60% 0%;
        }

        .Header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 82px;

            @include medium-screen {
                height: inherit;
            }

            .Logo {
                height: 72px;
                width: 72px;
                margin-left: 10px;

                @include medium-screen {
                    height: inherit;
                    width: inherit;
                }
            }

            .Logo .Logo-image {
                background-image: url("/static/images/logo-white.png");
                background-repeat: no-repeat;

                @include medium-screen {
                    display: none;
                }
            }


            .Header-nav {
                .UserMenu {
                    display: none;
                }
                .UserContinueButton-wrongUser {
                    display: none;
                }
                .Header-loginButton, .UserContinueButton-button {
                    @include button();
                }
            }
        }

        .SignUpSplash-backgroundContent {
            min-height: 60vh;
            background: linear-gradient(rgba(0,0,0,0.30) 0%,
             rgba(0,0,0,0) 30%);

            @include medium-screen {
                min-height: initial;
            }
            position: relative;
            align-items: stretch;
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis:0%;
            flex-direction:column;
            margin: 0;
            padding: 0;

            .SignUpSplash-backgroundContentTitle {

                @include medium-screen {
                    align-items: stretch;
                    display: flex;
                    flex-basis:auto;
                    flex-direction:column;
                    flex-shrink:0;
                    height: 100%;
                    justify-content: center;
                }

                h1 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    font-size: 150%;
                    padding: 10%;
                    text-align: center;
                    color: white;

                    @include medium-screen {
                        position: relative;
                        font-size: 300%;
                        bottom: initial;
                    }
                }
            }

            .SignUpSplash-backgroundContentFooter {
                display: none;

                @include medium-screen {
                    display: block;
                    position: absolute;
                    bottom: 2em;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: white;

                    &:after {
                        @include icon($fa-var-arrow-down);
                        font-size: 1.5em;
                    }

                    p {
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
    }
}
