.SignUpSplash {
    font-size: 1.1667em;
    position: relative;
    background: url(/static/images/cover.jpg) center center no-repeat;
    background-size: cover;

    .SignUpSplash-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 600px;
        height: 60vh;
        min-height: 440px;
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        padding: 5vw 0;
        padding: 5vmax 0;

        @media only screen and (orientation: portrait) {
            // height: 60vmax;
        }

        @include target-ie-6-7-8 {
            padding-top: 12em;
        }
    }

    h1 {
        margin: 0 0 0.25em;
        font-size: 5.5vmin;
        color: $c-text-contrast;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    h2 {
        font-size: 4vmin;
        margin: 0 0 1em;
        color: $c-text-contrast;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
    }


    .SignUpSplash-actions {
        a {
            @include gradient-button;
            margin: 0.5em 1em;
        }
    }

    .SignUpSplash-imageCaption {
        display: none;
    }

    @include medium-screen {
        .signUpSplash-imageCaption {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 1em 1em 0.5em;
            background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
            transition: opacity 0.2s;

            p {
                font-size: 0.8em;
                margin: 0;
                color: white;
            }
        }
    }
    .SignUpForm,
    .SignUpForm-privacyLink,
    .SignUpForm-subtitle {
        color: $c-text-contrast;
    }
    &.SignUpSplash-withForm  {
        .SignUpSplash-content {
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);

            @include target-ie-6-7-8 {
                padding-top: 2em;
            }
        }

        .SignUpSplash-imageCaption {
            opacity: 0.2;
        }

        .SignUpForm {
            margin: 0 1em;
            padding: 0;
        }
        .SignUpForm-textInput {
            border-color: $c-text-contrast;
        }

        @include medium-screen {
            .SignUpForm {
                width: 80%;
                margin: auto;
                max-width: 800px;
            }

            .SignUpForm-textInput {
                display: inline-block;
                width: 48%;
                margin: 1em 1%;
            }
        }

        @include target-ie-6-7-8 {
            .SignUpForm-textInput {
                width: 40%;
                margin: auto;
            }
        }
    }

    .SignUpSplash-authenticated {
        margin: 0 1em;

        .SignUpSplash-avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto 1em;
            border-radius: 20em;
            background-size: contain;
            background-repeat: no-repeat;
        }

        p {
            color: white;
            font-size: 0.8em;
        }

        a {
            @include gradient-button;
            margin: 0.5em 1em;
        }

        @include medium-screen {
            .SignUpSplash-avatar {
                width: 150px;
                height: 150px;
            }

            h1 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }
        }
    }
}
