.ZetkinFeatures{
    @include landing-page-section;
    padding-bottom: 1em;
    margin: 0 0 3em;
    background-color: $c-ui-bg;

    a {
        @include gradient-button;
        border: 2px solid;
        position: relative;
        top: 2.5em;
    }

    .ZetkinFeatures-features {
        list-style: none;
        padding: 0;
        margin: 3em auto 0;
        max-width: 30em;
    }

    .ZetkinFeatures-feature{
        margin: 1em auto 2em;
        padding: 0 1.5em;
    }

    .ZetkinFeatures-featureIcon{
        display: inline-block;
        width: 70%;
        height: auto;
        margin: 0 0 0.5em 0;
    }

    .ZetkinFeatures-feature h4 {
        margin: 0.5em 0;
    }

    .ZetkinFeatures-feature p {
        margin: 0 auto;
        max-width: 25em;
        line-height: 1.5;
        font-size: 0.8em;
    }

    @include medium-screen, target-ie-6-7-8  {
        .ZetkinFeatures-features {
            max-width: 80em;

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .ZetkinFeatures-feature {
            width: 50%;
            display: inline-block;
        }

        .ZetkinFeatures-feature:nth-child(odd) {
            float: left;
            clear: both;
        }

        .ZetkinFeatures-feature:nth-child(even) {
            float: right;
        }
    }

    @include large-screen, target-ie-6-7-8 {
        .ZetkinFeatures-feature {
            width: 25%;
            float: left;
        }
        .ZetkinFeatures-feature:nth-child(odd) {
            float: left;
            clear: inherit;
        }

        .ZetkinFeatures-feature:nth-child(even) {
            float: left;
        }
    }
}
