.CampaignForm {
    position: relative;
    z-index: 1;
    background: darken(white, 1.5);
    width: 100%;
    float:left;
}

.CampaignForm-calendar {
    @include col(3,12);
    position: absolute;
    left: 0;
}

.CampaignForm-filter {
    @include col(4,12);
    position: absolute;
    right: 0;
}

.CampaignForm-form {
    @include col(5,12); 
    @include col-offset(3, 12);
}

.CampaignForm-actions {
    @include col(12,12);
    .CampaignForm-action {
        position: relative;
        margin: 1em 0;
        list-style: none;

        &:before {
            content: " ";
            background: darken(white, 10);
            height: 1.5em;
            width: 1.5em;
            display: block;
            border-radius: 50%;
            position: absolute;
            margin-left: -2.6em;
            top: calc(50% - 0.5em);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        }
        &.response:before {
            content: "●";
            text-align: center;
            line-height: 1.5em;
            color: $c-brand-main;
        }
        &.booked:before {
            background: $c-brand-main;
        }
    }
}
.CampaignForm-days {
    list-style: none;
    padding: 0;
    margin-left: 6em;

    &:before {
        content: " ";
        background: darken(white, 10);
        height: 100%;
        width: 0.2em;
        display: block;
        position: absolute;
        margin-left: -1.45em;
    }

    .CampaignForm-day {
        .CampaignForm-date {
            color: $c-text;
            position: absolute;
            margin-left: -6em;
            text-align: right;
        }
    }
}