.CampaignPage {
    // TODO: This should not be necessary
    .CampaignForm-filterShowNeed .Button {
        color: white;
    }
}

.CampaignPage-info {
    margin: 0 1em;
    padding-bottom: 2em;

    h2 {
        margin-bottom: 0.5em;
    }

    .CampaignPage-infoOrg {
        color: lighten($c-text, 30);
    }
}

.CampaignPage-notFound {
    .Button {
        @include button();
    }
}

.CampaignPage-interstitial {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9990;
    background-color: rgba(0,0,0,0.2);
}

.CampaignPage-interstitialContent {
    position: relative;
    text-align: center;
    background-color: white;
    margin: 1em;
    padding: 2em 1em 2em;

    box-shadow: 0 0 1em rgba(0,0,0,0.08);

    h1 {
        margin-top: 0;
        font-size: 1.6em;
    }

    p {
        font-size: 0.8em;
    }

    .Button {
        @include button;
        margin-top: 0.6em;
    }
}

.CampaignPage-interstitialCloseButton {
    font-size: 0.6em;
    color: inherit;
    line-height: 1;
    width: 1.6em;
    padding: 0.25em;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    background: transparent;
    border: 0.125em solid $c-text;
    border-radius: 50%;
    text-align: center;
    width: 1.75em;
    cursor: pointer;

    &::after {
        @include fa-icon;
        text-align: center;
        content: $fa-var-times;
    }
}

@include medium-screen {
    .CampaignPage-info {
        width: 600px;
        margin: 0 auto;
    }

    .CampaignPage-interstitialContent {
        max-width: 60em;
        margin: 4em auto 0 auto;
        padding: 2em 2em;

        &:after {
            clear: both;
            content: "";
            display: block;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }

    .CampaignPage-interstitialRegister {
        padding: 0 2em 0 0;
        width: 50%;
        float: left;
        border-right: 1px solid #ddd;
    }

    .CampaignPage-interstitialLogin {
        padding: 0 0 0 2em;
        width: 50%;
        float: right;
    }
}
