.GroupPage-info,
.GroupPage-members {
    max-width: 720px;
    margin: 0 auto;
}

.GroupPage-info {
    padding-bottom: 2em;
    text-align: center;

    h2 {
        margin-bottom: 0.5em;
    }

    .GroupPage-infoOrg {
        color: lighten($c-text, 30);
    }
}

.GroupPage-members {
    h3 {
        text-align: center;
    }
}

.GroupPage-memberList {
    ul {
        @include list-unstyled;
    }

    .GroupPage-memberListHeader {
        box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.07);
        font-weight: bold;
        font-size: 0.8em;
        padding: 0.5em 0.5em 0;
    }

    .GroupPage-memberListItem {
        font-size: 0.7em;
        padding: 0.8em 0.5em;
        border-bottom: 1px solid #eee;
    }

    .GroupPage-memberListHeader, .GroupPage-memberListItem {
        span {
            display: inline-block;
            overflow: hidden;

            &:nth-child(1) {
                width: 5%;
                margin-right: 1%;
            }
            &:nth-child(2) {
                width: 28%;
                margin-right: 1%;
                text-overflow: ellipsis;
            }
            &:nth-child(3) {
                width: 47%;
                margin-right: 1%;
                text-overflow: ellipsis;
            }
            &:nth-child(4) {
                width: 17%;
                text-overflow: ellipsis;
            }

            a {
                color: inherit;
            }
        }
    }

    .GroupPage-memberListItem.manager {
        span:nth-child(1):after {
            @include icon($fa-var-star);
            color: $c-brand-comp-light;
            height: 1em;
        }
    }
}

.GroupPage-memberFilter {
    position: relative;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.1);
    border: 1px solid #eee;
    max-width: 20em;
    margin: 0 auto 2em;
    width: 90%;

    &:before {
        position: relative;
        display: block;
        padding: 0.2em;
        z-index: 1;
        @include icon($fa-var-search);
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        display: inline-block;
        width: 100%;
        outline: 0;
        border-width: 0;
        padding: 0.4em 0.4em 0.4em 1.7em;
        font-size: 1.2em;
    }
}
