.LostPasswordPage {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;

    input[type=email] {
        font-size: 1.2em;
        display: block;
        width: 95%;
        padding: 0.5em;
        margin: 0 0 1em;
    }

    .Button, input[type=submit] {
        @include button();
    }
}
