.OrgPage {
    .OrgPage-header {
        text-align: center;
    }

    .OrgAvatar {
        width: 8em;
    }

    .OrgPage-info {
        a {
            @include button($c-brand-main);
        }
    }

    @include medium-screen {
        .OrgPage-header {
            text-align: left;
        }

        .OrgPage-info {
            float: left;
            margin-left: 2em;
        }

        .OrgAvatar {
            float: left;
        }
    }
}
