.ConnectionList {
    .ConnectionList-empty {
        text-align: center;
        margin: 1em 0 1.5em;
        color: $c-ui-dark;
    }

    .ConnectionList-list {
        @include list-unstyled;
    }

    .ConnectionList-item {
        position: relative;
        clear: both;
        border-bottom: 1px solid #eee;

        &:hover {
            background-color: darken(white, 2);
        }

        .OrgAvatar {
            width: 3em;
            float: left;
            margin: 0 0.5em 0 0;
        }

        .ConnectionList-orgLink {
            display: block;
            text-decoration: none;
            color: inherit;
            padding: 1em 0;
        }

        h3 {
            font-size: 1.2em;
            margin: 0;
        }

        p {
            margin: 0;
            font-size: 0.8em;
        }

        .ConnectionList-disconnect {
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 0.8em;
            cursor: pointer;

            &:hover {
                &:before {
                    @include icon($fa-var-unlink);
                    font-size: 0.8em;
                }
            }
        }
    }
}
