.Welcome {
    padding: 0 2em;
    text-align: center;

    h1 {
        color: $c-brand-main;
        margin: 0.5em 0 0;
    }

    p {
        font-size: 0.9em;
    }

    .Welcome-illustration {
        margin: 0.5em 0 0;
        max-width: 800px;
        width: 90%;
        height: auto;
    }

    .Welcome-connect {
        margin: 1em 0;

        &.pending {
            p {
                margin: 0;
                font-size: 0.8em;
                font-style: italic;
            }
        }

        &.withRecommendations {
            p {
                font-size: 0.8em;
                font-style: italic;
            }
        }

        &.noRecommendations {
            h2 {
                font-size: 1.4em;
                margin: 0 0 0.3em;
            }

            p {
                margin: 0;
            }
        }
    }

    .Welcome-orgList {
        @include list-unstyled;
    }

    .Welcome-orgItem {
        list-style-type: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        margin: 0 0 0.4em;
        padding: 0.4em 0 0;
        border-top: 1px solid #eee;

        &:first-child {
            border-top-width: 0;
        }

        img {
            width: 2em;
            height: auto;
            margin: 0 1em 0 0;
        }

        &:hover {
            color: black;
        }
    }

    @include medium-screen {
        max-width: 70em;
        position: relative;
        margin: 0 auto;
        width: 90%;

        &:after {
            content: "";
            display: block;
            clear: both;
        }

        .Welcome-header {
            margin: 0 0 2em;

            p {
                font-size: 1.1em;
            }
        }

        .Welcome-illustration {
            width: 60%;
            float: right;
        }

        .Welcome-connect {
            float: left;

            width: 35%;

            text-align: left;

            &.pending {
                text-align: center;
            }
        }
    }
}
