.OrgSignUp {
    label {
        color: $c-text-contrast;
        display: none;
        @include target-ie-6-7-8 {
            display: block;
            text-align: left;
        }
    }

    input {
        outline: none;
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 1em 0;
        border: 0;
        font-size: 1.0em;
        border-bottom: 1px solid $c-text;
        border-radius: 0;
        background-color: transparent;
        padding: 0.5em;

        @include target-ie-6-7-8 {
            margin: 0 0 1em;
        }
    }
    input:focus {
        border-color: $c-brand-comp-light;
    }

    input[type="submit"] {
        @include gradient-button;
        margin: 1em auto;
        display: block;
        width: auto;
    }

    OrgSignUp-error{

    }
}
