.Header {
    position: relative;
    height: 64px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8888em;
    z-index: 3;

    @include medium-screen{
        height: 120px;
        padding: 16px 16px;
        font-size: 1em;
    }

    @include large-screen{
        height: 132px;
        padding: 16px 32px;
    }
}

.Header-loginButton {
    @include gradient-button;
    float: right;
}

.Header-nav {
    .Header-navLink {
        float: right;
        margin: 0.5em;

        &.linkOrganize {
            @include icon-button($fa-var-sitemap);
        }

        &.linkCall {
            @include icon-button($fa-var-phone);
        }
    }
}