.Header {
    height: 150px;
    width: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-loginButton {
    @include gradient-button;
    float: right;
}
