.UserContinueButton {
    float: right;
    .UserMenu {
        display: none;
    }
}

.UserContinueButton-button {
    @include gradient-button;
}

.UserContinueButton-wrongUser {
    display: none;
    clear: both;
    margin-top: 1em;
    font-size: 0.85em;
    text-align: center;
    color: $c-ui-darker;
}

.UserContinueButton-logout {
    margin: 0 0 0 0.25em;
}

@include medium-screen{
    .UserContinueButton {

        .UserMenu {
            float: left;
            display: block;
        }
    }
    .UserContinueButton-button {
        margin-left: 1em;
    }

    .UserContinueButton-wrongUser {
        display: block;
    }
}