.CampaignFilter-item {
    &.contracted {
        .CampaignFilter-toggle {
            &:after {
                @include icon($fa-var-chevron-down);
            }
        }

        .CampaignFilterList {
            visibility: hidden;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s;
        }
    }
    &.expanded {
        .CampaignFilter-toggle {
            &:after {
                @include icon($fa-var-chevron-up);
            }
        }

        .CampaignFilterList {
            visibility: visible;
            max-height: 100em;
            overflow: hidden;
            transition: all 0.5s;
        }
    }
}

.CampaignFilter-toggle {
    //TODO: Update with new button mixin
    @include gradient-button();
    background: darken(white, 5);
    color: lighten($c-text, 30);
    font-size: 1em;
    padding: 0 1.5em;
    cursor: pointer;
}