.CampaignFilterList {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.CampaignFilterList-item {
    list-style-type: none;
    padding: 5px 10px;
    margin: 2px;

    float: left;
    background-color: #eee;

    &.selected {
        background-color: red;
    }
}
