.ActionList {
    position: relative;
    padding-bottom: 2em;
    &:before {
        content: " ";
        background: $c-brand-main;
        height: 100%;
        width: 0.1em;
        display: block;
        position: absolute;
        margin-left: -1.51em;
    }
    & > a {
        &:hover {
            cursor: pointer;
        }
        font-size: smaller;
    }
    .ActionListItem {
        &:before {
            content: " ";
            background: $c-brand-main;
            height: 1em;
            width: 1em;
            display: block;
            border-radius: 50%;
            position: absolute;
            margin-left: -2em;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
        }
    }
    .ActionListItem-dateTime {
        font-weight: 600;
        display: inline-block;
        margin-right: 0.5em;
    }
}
