.Dashboard {
    position: relative;
    z-index: 2;
    background-color: #FFF;
    padding-top: 2em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    overflow: hidden;
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    & > div {
        float: left;
        @include col(12, 12);
        padding-left: 3em;
        h2 {
            font-size: 1.3em;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                margin: 0.5em 0;
            }
        }
    }
}

@include medium-screen {
    .Dashboard {
        & > div {
            float: right;
            @include col(6, 12);
        }
        .Dashboard-events {
            float:left;
            padding-left: 3em;
        }
    }
}

@include large-screen {
    .Dashboard {
        justify-content: center;
        & > div {
            float: left;
            @include col(3, 12);
        }

        .Dashboard-campaigns {
            padding-left: 2em;
        }

        .Dashboard-events {
            padding-left: 0.5em;
            margin-left: 6em;
            @include col(4, 12)
        }
    }
}