.ActionList {
    position: relative;
    padding-bottom: 2em;

    & > a {
        &:hover {
            cursor: pointer;
        }
        font-size: smaller;
    }

    .ActionListItem-dateTime {
        font-weight: 600;
        display: inline-block;
        width: 90px;
        margin-right: 0.5em;
    }
}