.CallSectionPage {
    &.SectionPage .SectionPage-title h1:before {
        @include icon($fa-var-phone);
        color: $c-brand-main;
    }

    .CallSectionPage-assignments {
        @include col(12,12);

        @include medium-screen {
            @include col(6,12);
        }

        @include large-screen {
            @include col(3,12);
            @include col-offset(1,12);
        }
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            padding: 0.3em 0;
        }
    }

    .Button {
        @include button();
    }
}