.SectionPage {
    font-size: 0.8em;

    @include medium-screen {
        font-size: 0.9em;
    }

    .SectionPage-title {
        @include col(12,12);

        h1 {
            margin: 0.5em 0;
        }
    }
    .SectionPage-title h1:before {
        @include icon($fa-var-flag);
        color: $c-brand-main;
    }

    .SectionPage-content {
        @include col(12,12);
    }

    .SectionPage-desc {
        p {
            font-size: 1.1em;
        }
    }

    h3 {
        margin: 0 0 0.2em 0;
    }
    p {
        margin: 0.5em 0 1em;
    }
}